.DS_Store
.vscode/

.python-version
backend/static
notes.txt
__pycache__/

# Large directories used for storing training images
datasets/
checkpoint.pth
# CDCI pipeline stuff
container_cache/*/*
!container_cache/**/README.md
index.html
error.html
log.txt
